{% extends 'base.html' %} {% block title %}Ready to Test{% endblock title %} {% block content %}
<div class="content mt-5">
    <h3>Are you ready testing | Test title: {{ test.title }}</h3>
    <p>
        Details: There are <strong>{{ test.question.all.count }}</strong> questions. <br />
        You have total <strong>{{ test.max_attemps }}</strong> attemps.
    </p>
    <p>
        Make sure this whole test time is inside of <strong>{{ test.start_date}}</strong> and
        <strong>{{ test.end_date}}</strong>
    </p>
    <p>Author: <a href="{% url 'profile' test.author.id%}">@{{ test.author.username }}</a></p>
    <a href="{% url 'test' test.id%}" class="btn btn-primary">Start test</a>
    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
</div>
{% endblock content %}
